<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" media="screen" />
    <title>电影评分系统FSS - Film Scoring System - 首页</title>
</head>
<body>
    <div id="Bigimg" class="div">
        <img src="/static/img/filmsearch.png" width="150" height="150" />
    </div>

    <div id="Search" class="div">
        <form action="/" method="post" class="form">
            <input class="Input" type="text" name="title" autocomplete="off" />
            <input class="Button" type="submit" value="搜索影片" />
        </form>
    </div>


</body>
</html>
